@charset "utf-8";
input:focus {
  border: 1px solid #35B355!important;
}
.notify-row {
  margin-top: 20px;
}
.form-group .required {
  color: red;
  padding-left: 5px;
  display: inline-block;
}
.radio {
  display: inline-block;
}
.radio-btn {
  width: 100px;
  height: 35px;
  border-radius: 2px;
  background: #3DCC61;
  color: #fff;
}
.radio-btn input {
  display: none;
}
.radio-btn label {
  width: 100%;
  height: 100%;
  margin: 2px 0 0 8px;
}
.radio-btn:hover {
  background: #35B355;
}
.btn_create {
  width: 200px;
  height: 36px;
  margin: 0 auto;
  display: block;
}
.btn a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: block;
}
.btn a:hover {
  text-decoration: none;
}
/*.btn_create:hover{
    background-color:#35B355;
    border-color:#35B355;
}
.btn_create:actived{
    background-color:#35B355;
    border-color:#35B355;
}*/
.content {
  overflow: hidden;
}
.left_content {
  width: 650px;
  float: left;
}
.right_content {
  width: 200px;
  height: 200px;
  overflow: hidden;
  float: right;
  margin-right: 100px;
}
.right_content img {
  width: 200px;
  height: 200px;
  display: block;
}
.city {
  width: 120px;
  display: inline-block;
}
.address {
  width: 412px;
  display: inline-block;
}
.noborder {
  border: 0!important;
}
.search_new {
  width: 300px;
  display: inline-block;
  border: 1px solid #e2e2e4;
}
.search:focus {
  width: 300px;
  border: 1px solid #35B355;
}
.btn-success-new {
  float: right;
  margin-top: 10px;
  margin-right:15px;
}
.edit {
  text-decoration: underline;
}
.edit:hover {
  color: red;
  cursor: pointer;
}
.content td {
  text-align: center;
  vertical-align: middle;
}
.content a {
  display: block;
}
.tb_span{
    display:block;
    color:#797979;
}
.form_box {
  width: 600px;
  margin: 0 auto;
}
.form_box label {
  width: 130px;
}
.form_box .col-lg-10 {
  max-width: 400px;
}
.popup {
  text-align: center;
}
.popup p {
  margin-top: 50px;
}
.add_success i {
  color: #3DCC61;
}
.add_err i {
  color: red;
}
.current_school {
  font-size: 18px;
}
.identity span {
  margin-right: 60px;
  font-size: 14px;
}
.identity a {
  color: #797979;
  font-size: 14px;
  margin-right: 10px;
}
.identity a:hover {
  color: #4d70f4;
}
.identity .current {
  color: #4d70f4;
}
.block {
  margin: 30px 0 10px;
  display: block;
  overflow: hidden;
}
.block a {
  float: right;
  margin-right: 20px;
  color: #7977979;
  padding-top: 18px;
  display: inline-block;
}
.block a:hover {
  color: #3DCC61;
}
.block a i {
  margin-right: 5px;
}
.countall {
  font-size: 12px;
}
.modal-header {
  background: #3DCC61;
}
.mem_edit {
  color: #797979;
}
.mem_edit:hover {
  text-decoration: underline;
}
.paging {
  margin-top: 20px;
  width: 100px;
  height: 36px;
  border-radius: 4px;
  background: #3DCC61;
  border: 0;
  color: #FFF;
  float: right;
  font-size: 14px;
}
.paging:hover {
  background: #35B355;
}
