@charset "utf-8";
input:focus {
  border: 1px solid #35B355!important;
}
.form-group {
    border:0!important;
}
.notify-row {
  margin-top: 20px;
}
.form-group .required {
  color: red;
}
.radio {
  display: inline-block;
}
.radio input[type=radio]{
    margin-right:5px;
}
.user_count{
    width: 300px;
}
.radio-btn {
  width: 100px;
  height: 35px;
  border-radius: 2px;
  background: #3DCC61;
  color: #fff;
}
.radio-btn input {
  display: none;
}
.radio-btn label {
  width: 100%;
  height: 100%;
  margin: 2px 0 0 8px;
}
.radio-btn:hover {
  background: #35B355;
}
.btn-create,
.btn-save {
  width: 200px;
  height: 36px;
}
.btn-create {
  margin-right: 30px;
}
.content {
  overflow: hidden;
}
.left_content {
  width: 650px;
  float: left;
}
.right_content {
  width: 200px;
  height: 250px;
  overflow: hidden;
  float: right;
  margin-right: 100px;
}
.right_content img {
  width: 200px;
  height: 200px;
  display: block;
}
.submit{
    width:100px;
    height: 36px;
    border:0;
    margin:10px auto 0;
    display: block;
}
.city {
  width: 120px;
  display: inline-block;
}
.address {
  width: 412px;
  display: inline-block;
}
.noborder {
  border: 0!important;
}
.search_new {
  width: 300px;
  display: inline-block;
  border: 1px solid #e2e2e4;
}
.search:focus {
  width: 300px;
  border: 1px solid #35B355;
}
.btn-success-new {
  float: right;
  margin-top: 10px;
}
.edit {
  text-decoration: underline;
}
.edit:hover {
  color: red;
  cursor: pointer;
}
.content a {
  display: block;
}
